body {
  background-color: #E6F0F4;
}

#main {
  display:flex;
  flex-direction: column;
  /*max-width: 800px; */
  margin: auto;
}

#title {
  display: flex;
  align-items: center;
}

#geeTitle {
  font-size: 50px;
}



#mailDisplay {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.email:hover {
  background-color: #73D3F4;
}

.sender {
  min-width: 140px;

}
.subject {
  text-align: left;
  flex-grow: 1;   
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;

}
.date {
  text-align: left;
}

.arrayId {
  display: none;
}



#messageDisplay {
  display: none;
  flex-direction: column;
  border:1px solid black;
  padding: 15px;
}

#emailHeader {
  display:flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
}

#backButton {
  font-size: 30px;
  margin-right: 15px;
}

#emailInfo {
  display: flex;
}

#emailSender {
  margin-right: 25px;
}



