body {
  background-color: violet;
}

#main {

}

#title {

}

#mailDisplay {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  border: 1px solid black;
}

#messageDisplay {
  display: none;
  border:1px solid black;
}

#emailHeader {

}



